.section-1 {
    display: grid;
    width: 100%;
    height: max-content;
    align-items: center;
    grid-template-columns: auto auto;
    .section-item:nth-child(1) {
        padding: 0 0 0 10%;
        background-image: url("../../assets/img/Vector\ 187.png");
        background-size: 13%;
        background-repeat: no-repeat;
        .section__item-heading{
            font-size: 6cqmax;
            position: relative;
            top: -40px;
            padding: 0 0 2% 0;
            color: #ffffff;
            .section__item__heading-span{
                display: block;
                color: rgba(0, 173, 181, 1);
                ;
            }
        }
        .section__item-btn:nth-child(2){
            background-color: rgb(2, 152, 160);
            border-radius: 30px;
            width: 150px;
            height: 40px;
            border: none;
            color: #ffffff;
            font-size: 1cqmax;
            margin: 0 5% 0 0;
        }
        .section__item-btn:nth-child(3){
            background-color: rgb(57, 61, 61);
            border-radius: 30px;
            width: 150px;
            height: 40px;
            border: none;
            color: #ffffff;
            font-size: 1cqmax;
            img{
                height: 15px;
                padding: 0 0 0 10px;
            }
        }
        .section__item-btn:hover{
            transform: scale(1.05);
        }
    }
    .section-item:nth-child(2) {
        background-image: url("../../assets/img/doodles\ mixed\ round\ \(1\).png");
        .section__item-img{
            position: relative;
            top: 10cqmax;
            width: 30cqmax;

        }
    }
}

@media only screen and (max-width: 768px) {
    .section-1 {
        grid-template-columns: auto;
        .section-item:nth-child(1) {
            .section__item-heading{
                top: 0;
                .section__item__heading-span{
                    display: block;
                    color: rgba(0, 173, 181, 1);
                    ;
                }
            }
            .section__item-btn:nth-child(2){
                width: 100px;
                height: 30px;
            }
            .section__item-btn:nth-child(3){
                width: 100px;
                height: 30px;
                img{
                    height: 10px;
                    padding: 0 0 0 10px;
                }
            }
            .section__item-btn:hover{
                transform: scale(1.05);
            }
        }
        .section-item:nth-child(2) {
            .section__item-img{
                position: relative;
                top: 10cqmax;
                width: 30cqmax;
    
            }
        }
    }
}