section.section-1 
    div.section-item 
        h1.section__item-heading CREATIVE UI
            span.section__item__heading-span DESIGNER
        button.section__item-btn Hire me
        button.section__item-btn Download CV
            img(src="../../assets/img/download.png", alt="logo daw")
    div.section-item
        img.section__item-img(src="../../assets/img/Group 2346.png", alt="logo")

