doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document 
        link(rel="stylesheet", href="../../sass/style.css")
    body 
        include header/header.pug
    main.main 
        include main/section-1.pug
        include main/section-2.pug
        include main/section-3.pug
        include main/section-4.pug
    include footer/footer.pug